bitalino==1.2.1
certifi==2018.11.29
chardet==3.0.4
configparser==3.7.1
cx-Freeze==5.1.1
future==0.17.1
h5py==2.9.0
idna==2.8
iso8601==0.1.12
Jinja2==2.10
MarkupSafe==1.1.0
numpy==1.16.0
pathlib2==2.3.3
Pillow==5.4.1
PyBluez==0.22
pynsist==1.12
pystray==0.14.4
PyYAML==3.13
requests==2.21.0
requests-download==0.1.2
scandir==1.9.0
serial==0.0.70
six==1.12.0
urllib3==1.24.1
win-cli-launchers==0.1
wincertstore==0.2
yarg==0.1.9
